@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Old+Standard+TT&display=swap');

*{
    font-family: 'Lobster', cursive;
    font-family: 'Old Standard TT', serif;
}
html{
    background-color: #0d2c4f;
}
img{
    height: 5rem;
    width: 5rem; 
}
.App{
    background-color: #0d2c4f;
    background-size: cover;
}
.account-link{
    color: #bf3792;
    font-weight: bold;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

.account-text{
    font-size: 15px;
    text-align: center;
}

.add{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    margin-top: -4px;
    margin-left: 15px;
    font-size: 25px;
}

.body{
    height: 25px;
    width: 20px;
    background: linear-gradient(#bebebe,#808080);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 1rem;
    margin-top: -1px;
}

.center{
    position: fixed;
    top: 10%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
}

.container{
    display: flex;
    justify-content: flex-end;
}

.display{
    background-color: transparent;
    grid-column: 2/4;

}

.exercise-add{
    font-size: 15px;
    margin-right: 20px;
    margin-top: 2px;
    border: 1px solid #bf3792;
    border-radius: 10px;
    width: 9rem;
    height: 2rem;
    color: white;
}

.exercise-container{
    height: 10rem;
    width: 100%;
    overflow-y: auto;
}

.exercise-container::-webkit-scrollbar{
    width: 1rem;

}
.exercise-container::-webkit-scrollbar-track{
    background-color:#ffffff;
    border-radius: 5px;
}

.exercise-container::-webkit-scrollbar-thumb{
    background-color: #ffffff77;
    width: 3px;
}

.form-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.189);
    border-radius: 10px;
    width: 98.75%;
    height: 100%;
    padding: 5px;
}

.head{
    height: 20px;
    width: 10px;
    border-radius: 100%;
    background: linear-gradient(#ffffff,#b4b4b4);
    margin-left: 5px;
    margin-top: 4px;
}

.home, .exercise-tracking{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: 3;
    grid-gap: 15rem;
    height: 30rem;
    margin-left: 27%;
}

.large-logo{
    width: 550px;
    height: 550px;
    margin-top: 3%;
    margin-left: 30%;
}
.login-container{
     background: rgba(255, 255, 255, 0.283);
     backdrop-filter: blur(1rem);
     padding: 3% 5%;
     position: fixed;
     margin-right: 15%;
}

.login-container::before{
    content: ' ';
    margin-top: -58px;
    margin-left: 11rem;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(255, 255, 255, 0.283);
    position: absolute;
}
.login-logo{
    margin-top: 7%;
    margin-bottom: 0;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.signup-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #b4b4b45d;
    height: 30rem;
    width: 20rem;
    border-radius: 10px;
}

.submit-form{
    background-color: #ffffffdc;
    border-radius: 5px;
    margin-left: 45%;
    width: 6rem;
    height: 2rem;
    font-weight: bold;
}

.title{
    width: 98%;
    height: 2rem;
    text-align: center;
    margin-right: -25%;
    background-color: transparent;
    border: none;
    outline: none;
}

.title::placeholder{
    margin-right: 10%;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.workout{
    border: 1px solid #bf3792;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
    
.workout-container{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin-top: 4rem;
    width: 45rem;
}

.workout-label{
    width: 100%;
    background-color: #00000068;
    color: white;
}

.workout-title{
    background: transparent;
    display:flex;
    align-items: center;
}

.workouts-container{
    border: 2px solid #bf3792;
}

#current-PR{
    text-align: center;
    font-size: 20px;
    color: white;
}

#exercise-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info-bar{
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#login-btn{
    height: 2rem;
    width: 4rem;
    margin-left: 3rem;
    margin-top: 1rem;
    font-weight: bold;
}

#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-label{
    margin-top:2%;
    margin-bottom: 20%;
    padding-right: 10px;
    color: #bf3792;
}

#nav-container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

#signup-btn{
    margin-top: 1rem;
    margin-left: 3rem;
    height: 2rem;
    width: 5rem;
    font-weight: bold;
}

#workout-title{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.772);
}

#PR{
    width: 4rem;
    height: 2rem;
    background-color: transparent;
    border: 2px solid #bf379287;
    border-radius: 5px;
    color: white;
}

#PR::placeholder{
    color: rgba(255, 255, 255, 0.999);
    font-size: 15px;
    text-align: center;
}

@media (min-width: 750px) and (max-width: 900px){
    .home, .exercise-tracking{
        margin-left: 3%;
    }

    .nav-bar{
        margin-left: 0;
        margin-right: 0;
    }
    .large-logo{
        width: 400px;
        height: 400px;
        margin-top: 10%;
        margin-left: 25%;
    }
    .login-container{
        margin-right: 0;
   }
   .login-container::before{
    margin-top: -38px;
    margin-left: 65%;
}
}


@media (max-width: 414px){
.center{
    margin-left: -36%;
}

.exercise-add{
    font-size: 12px;
    width: 10rem;
}

.form-container{
    width: 97.75%;
}

.home, .exercise-tracking{
    margin-left: 5%;
}
.nav-bar{
    margin-left: 0;
    margin-right: 0;
}
.large-logo{
    width: 275px;
    height: 275px;
    margin-top: 30%;
    margin-left: 15%;
}
.login-container{
    margin-right: 0;
}
.login-container::before{
    margin-top: -27px;
    margin-left: 65%;
}
.submit-form{
    margin-left: 38%;
}
.title{
    font-size: 15px;
}

.title::placeholder{
    font-size: 15px;
}
.workout-container{
    width: 350px;
}

#workout-label{
    font-size: 15px;
}
}