html{
    background-color: #0a0a0a;
}
img{
    height: 50px;
    width: 40px;
}
.App{
    background: linear-gradient(#68517f,#0a0a0a);
    background-size: cover;
}

.add{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    position: absolute;
    margin-top: -4px;
    font-size: 30px;
}

.add-exercise{
    margin-left: 20px;
}

.add-workout{
    margin-left: 20rem;
}
.body{
    height: 25px;
    width: 20px;
    background: linear-gradient(#bebebe,#808080);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 1rem;
    margin-top: -1px;
}
.display{
    background-color: transparent;
    width: 55rem;
}
.exercise{
    margin-top: 3px;
}
.exercise-container{
    height: 20rem;
    overflow-y: auto;
}

.exercise-container::-webkit-scrollbar{
    width: 1rem;

}
.exercise-container::-webkit-scrollbar-track{
    background-color:#68517f;
    border-radius: 5px;
}

.exercise-container::-webkit-scrollbar-thumb{
    background-color: #41324c77;
    width: 3px;
}

.exercise-add{
    margin-left: 52rem;
    margin-top: 2px;
}

.form{
    display: flex;
    justify-content: space-between;
}

.form-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.fuerte-logo{
    margin-left: 8px;
}

.head{
    height: 20px;
    width: 10px;
    border-radius: 100%;
    background: linear-gradient(#ffffff,#b4b4b4);
    margin-left: 5px;
    margin-top: 4px;
}
.home{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    height: 30rem;
}

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
}
.large-logo{
    height: 700px;
    width: 600px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
}

.submit-btn{
    background-color: transparent;
    text-align: center;
    top: 30rem;
    right: 30%;
    position: absolute;
}

.submit-form{
    background-color: #ba99f882;
    border-radius: 5px;
    width: 6rem;
    height: 2rem;
}

.title{
    width: 50rem;
    height: 2rem;
    background-color: transparent;
    border: none;
}

.title::placeholder{
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.254);
}
.workout{
border: 1px solid rgba(255, 255, 255, 0.252);
border-radius: 10px;
display: flex;
justify-content: center;
width: 25rem;
}

.workout-container{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin-top: 4rem;
}

.workout-label{
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.15);
}


.workout-title{
    background: transparent;
    display:flex;
    flex-direction: row;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#workout-label{
    font-size: 20px;
    margin-top: 3px;
}

#workout-title, #exercise-title{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.772);
}
