html{
    background-color: #0a0a0a;
}
img{
    height: 50px;
    width: 40px;
}
.App{
    background: linear-gradient(#68517f,#0a0a0a);
    background-size: cover;
}

.add{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    position: absolute;
    margin-top: -4px;
    font-size: 30px;
}

.add-exercise{
    margin-left: 20px;
}

.add-info{
    margin-left: 47rem;
    margin-top: -0.6rem;
}

.add-workout{
    margin-left: 20rem;
}
.body{
    height: 25px;
    width: 20px;
    background: linear-gradient(#bebebe,#808080);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 1rem;
    margin-top: -1px;
}
.display{
    background-color: transparent;
    width: 55rem;
}
.exercise{
    margin-top: 3px;
}
.exercise-container{
    height: 20rem;
    overflow-y: auto;
}

.exercise-container::-webkit-scrollbar{
    width: 1rem;

}
.exercise-container::-webkit-scrollbar-track{
    background-color:#68517f;
    border-radius: 5px;
}

.exercise-container::-webkit-scrollbar-thumb{
    background-color: #41324c77;
    width: 3px;
}

.exercise-add{
    margin-left: 52rem;
    margin-top: 2px;
}

.exercise-tracking{
    display: flex;
    justify-content: space-between;
}

.form{
    display: flex;
    justify-content: space-between;
}

.form-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.fuerte-logo{
    margin-left: 8px;
}

.head{
    height: 20px;
    width: 10px;
    border-radius: 100%;
    background: linear-gradient(#ffffff,#b4b4b4);
    margin-left: 5px;
    margin-top: 4px;
}
.home, .exercise-tracking{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    height: 30rem;
}

.info-input{
    text-align: center;
    width: 8rem;
    height: 1.5rem;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
}

.info-input::placeholder{
    color: rgba(255, 255, 255, 0.594);
}

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
}
.large-logo{
    height: 700px;
    width: 600px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
}


.submit-btn{
    background-color: transparent;
    text-align: center;
    top: 30rem;
    right: 30%;
    position: absolute;
}

.submit-form{
    background-color: #ba99f882;
    border-radius: 5px;
    width: 6rem;
    height: 2rem;
}

.title{
    width: 50rem;
    height: 2rem;
    background-color: transparent;
    border: none;
}

.title::placeholder{
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.254);
}

.tracking-labels{
    height: 1.5rem;
    width: 8rem;
}

.workout{
border: 1px solid rgba(227, 172, 252, 0.458);
border-radius: 10px;
display: flex;
justify-content: center;
width: 25rem;
}

.workout-container{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin-top: 4rem;
}

.workout-label{
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.15);
}


.workout-title{
    background: transparent;
    display:flex;
    flex-direction: row;
}
#current-PR{
    text-align: center;
    font-size: 20px;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    margin-right: 25%;
    margin-left: 5%;
    color: white;
}

#date, #elem-date{
    padding-right: 9%;
}

#exercise-title{
    display: flex;
}



#form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#info-bar{
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#info-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(21, 20, 20, 0.163);

}

#info-display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(21, 20, 20, 0.163);
}
#label{
    background-color: #9e70cc54;
    height: 3rem;
    margin-top: 2px;
}

#max-weight, #elem-maxWeight{
    padding-right: 8%;
}

#set-reps, #elem-sets-reps{
    padding-right: 5%;
}


#title{
    text-align: center;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#workout-name{
    margin-top: 3px;
} 


#workout-label{
    font-size: 20px;
}

#workout-title{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.772);
}

#PR{
    width: 4rem;
    height: 2rem;
    margin-left: 43%;
    margin-top: 10px;
    position: absolute;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.171);
    border-radius: 5px;
    color: white;
}

#PR::placeholder{
    color: white;
    font-size: 15px;
    text-align: center;
}